/*  your css code here. If applicable */
body{
	background-color:#f5f5f5;
	padding:16px;
	border:1px solid dimgray;
}
div{
	margin:16px;
	background-color:white;
/* 	items-align:center; */
	padding-top:8px;
}
p{
	margin:16px;
}
#author{
	text-align:right;
	font-style:italic;
}